.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", "arial", "san-serif";
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  margin-top: 183px;
  margin-bottom: 0;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header__title_span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", "serif";
  font-style: italic;
  font-weight: 400;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto serif", "Times New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
}

.header__footer {
  width: 100%;
  box-sizing: border-box;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
}

.header__hours {
  position: absolute;
  bottom: 40px;
  left: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  margin: 0;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 0;
  font-family: "Noto serif", "Times New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px 0 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  color: #000;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  display: block;
  margin: 0 0 8px;
  font-weight: 500;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.form__input {
  width: 100%;
  padding: 0;
  min-height: 60px;
  margin-bottom: 32px;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input::placeholder {
  padding-left: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input[type="datetime-local"] {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  min-height: 60px;
  background: #2f80ed;
  border-radius: 4px;
  color: #fff;
  border: none;
  transition: opacity 1.5s ease;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  padding: 0;
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
